* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: cursive;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1270px;
  width: 100%;
  padding: 0 -5px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-color: #F7A69A;
  background-image: url("img/background1.jpg");
  background-size: cover;
  font-family: 'Crushed';
  color: black;
  text-align: center;
}

.intro-wrapper{
  padding: 180px 0 100px 0;
  text-align: center;
  font-family: "Blinker";
}

.check{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.header-left h1 {
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-family: 'Crushed';
}

h1 {
  opacity: 100%;
  margin-bottom: 3px;
  font-family: "Crushed";
  font-size: 100px;
}

header {
  height: 120px;
  width: 100%;
  background-color: rgb(0,0,0);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 230px;
  height : 95px;
  margin-top: 10px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
  padding-top: 30px;

}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: rgb(255,255,255);
  font-size: 20px;
  font-family: Crushed;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color:rgb(235, 108, 80);
}

.intro-wrapper{
  font-family: "Blinker";
}

.intro-wrapper h2{
  color:rgb(235,108,50);
  text-align: center;
  font-size: 60px;
}

.intro-wrapper p{
  font-size: 25px;
}

.form-wrapper{
  text-align: center;
  widht:100%;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1170px;
}

.form-label{
  color: rgb(253,209,1);
}

.form-field{
  width: 150px;
  height: 40px;
}

.contact-form {
  padding-top: 0px;
  color: rgb(2,2,2);
  font-family: 'Blinker';
}

.contact-form h3{
  font-family: 'Blinker';
  font-size: 32px;
}

.contact-form p{
  font-size: 24px;
  font-weight: normal;
}

input,textarea {
  width:400px;
  margin-top:5px;
  margin-bottom:0px;
  padding:20px;
  border: 2px solid #dee7ec;
  font-size:18px;
  font-family:'Blinker';
}

button{
  width:250px;
  margin-top:5px;
  margin-bottom:0px;
  padding:15px;
  border: 3px solid rgb(235, 108, 80);
  font-size:24px;
  font-family:'Blinker';
}

.contact-submit{
  background-color:rgb(235, 108, 80);
  color:rgb(247, 231, 198);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: 'Blinker';
}

/* Add CSS for menu-icon */
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* Change the display property to none */
  display:none;
}


.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

footer img {
  width: 200px;
}

.footer-left{
  padding-top: 5px;
  float: left;
}

footer p {
  color: white;
  font-size: 12px;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(0, 0, 0);
}

.footer-right{
  color: white;
  font-family: Blinker;
}

.social{
  width: 150px;
}
